:root {
    --font-main: "NeueMachina";
    --font-secondary: "Lato";

    --font-size-m: 14px;
    --font-line-m: 20px;
    
    --font-size-xm: 16px;
    --font-line-xm: 22px;

    --font-size-l: 18px;
    --font-line-l: 22px;

    --font-size-xl: 22px;
    --font-line-xl: 36.2px;

    --font-size-xxl: 30px;
    --font-line-xxl: 28.95px;


    --primary-color: #1E1E1E;
    --white-color: #FFF;  
    --secondary-color: #EDEDED;
    --blue-color: #2F55F2;
}