@mixin font-face($font-family, $url, $weight, $style) {
    @font-face {
         font-family: '#{$font-family}';
         src: url('../assets/fonts/#{$url}.woff2') format('woff2');
         font-weight: #{$weight};
         font-display: swap;
         font-style: $style;
    }
}

@mixin pseudo() {
    content: '';
    position: absolute;
}

@include font-face("Lato", "Lato-Black", 800, normal);
@include font-face("Lato", "Lato-Bold", 700, normal);
@include font-face("Lato", "Lato-Light", 300, normal);
@include font-face("Lato", "Lato-Regular", 400, normal);
@include font-face("NeueMachina", "NeueMachina-Light", 300, normal);
@include font-face("NeueMachina", "NeueMachina-Regular", 400, normal);
@include font-face("NeueMachina", "NeueMachina-Ultrabold", 800, normal);

$white-color: #FFF;
$primary-color: #1E1E1E;
$blue-color: #2F55F2;
$error-color: #F24C4C;
$dark-color: #292D33;
$secondary-color: #EDEDED;


:root {
    --font-main: "NeueMachina", Arial, Helvetica, sans-serif;
    --font-secondary: "Lato", Arial, Helvetica, sans-serif;

    --font-size-s: 12px;
    --font-line-s: 20px;

    --font-size-m: 14px;
    --font-line-m: 20px;
    
    --font-size-xm: 16px;
    --font-line-xm: 22px;

    --font-size-xxm: 20px;
    --font-line-xxm: 28px;

    --font-size-l: 18px;
    --font-line-l: 22px;

    --font-size-xl: 22px;
    --font-line-xl: 36.2px;

    --font-size-xxl: 30px;
    --font-line-xxl: 28.95px;

    --font-size-medium: 24px;
    --font-line-medium: 24px;

    --font-size-large: 40px;
    --font-line-large: 40px;

    --font-size-60: 60px;
    --font-line-60: 60px;

    --font-size-big: 80px;
    --font-line-big: 77.2px;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --primary-color: #1E1E1E;
    --white-color: #FFF;  
    --secondary-color: #EDEDED;
    --blue-color: #2F55F2;
    --blue-color-hover: #2F55F2;
    --blue-color-active: #173DDE;
    --error-color: #F24C4C;
    --dark-color: #292D33;
    --border-bottom-color: rgba(237, 237, 237, .2);
    --light-gray: #E3E3E3;
    --skeleton-color: #1E1E1E0D;

    --radius-m: 3px;
    --field-height: 44px;
    --icons-default-size: 24px;
    --column-width-xm: calc(100% / 2);
    --column-width-l: calc(100% / 3);
    --column-width-xl: calc(100% / 4);

    --transition: .3s;
    --transition-fast: .2s;
    --transition-slow: 1s;
    --transition-type-cubic: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    --container-width: 1620px;
    --container-padding: 50px;
    --container-padding-mobile: 20px;
    --marquee-animation-duration: 50s;
    --header-height: 68px;
}



// ====================== shared_styles
// ====================== shared_styles
// ====================== shared_styles
// ====================== shared_styles

html.locked {
    overflow: hidden;
}

.copyright {
    text-align: center;
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-secondary);
    padding: 20px;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh   ;
}

.sidepanel {
    overflow: auto;
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    z-index: 100;
    border-top: 1px solid rgba($primary-color, .2);
    transform: translateY(100%);
    pointer-events: none;
    transition: var(--transition-fast);
    display: flex;
    flex-direction: column;
    &.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }

    &__cols {
        padding: 100px 20px 126px;
        display: flex;
        
        @media all and (max-width: 750px) {
            flex-direction: column;
            padding: 20px 16px 60px;
        }
    }

    &__left {
        padding-left: 23px;
        padding-right: 20px;
        width: calc(100% - 440px);

        @media all and (max-width: 750px) {
            margin-bottom: 30px;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }
    }

    &__right {
        padding: 0 0 0 20px;
        max-width: 440px;
        width: 100%;
        display: flex;
        flex-direction: column;
        
        @media all and (max-width: 750px) {
            max-width: unset;
            padding: 0;
        }
    }

    &__btn {
        text-align: center;
        margin-bottom: 30px;
        margin-top: auto;
    }

    &__copyright {
        padding: 9.5px;
        color: #161616;
        border-top: 1px solid rgba($primary-color, .2);
    }

    &__list {
        li {
            a {
                font-size: 50px;
                line-height: 64px;
                color: var(--primary-color);
                font-weight: var(--font-weight-bold);
                text-transform: capitalize;
                transition: var(--transition);

                @media all and (max-width: 959px) {
                    font-size: 30px;
                    line-height: 64px;
                }

                &:hover {
                    color: var(--blue-color);
                }
            }
        }
    }

    &__right-top {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        @media all and (max-width: 750px) {
            margin-bottom: 60px;
        }
    }

    &__right-bot {
        margin-top: auto;
    }

    &__contacts {
        li {
            margin-bottom: 16px;
            padding-bottom: 16px;
            column-gap: 10px;
            border-bottom: 1px solid rgba($primary-color, .2);
            &:last-child {
                margin-bottom: 0;
            }

            .title {
                font-weight: var(--font-weight-bold);
                font-size: var(--font-size-l);
            }
            .value {
                text-align: right;
                max-width: 268px;
                font-size: var(--font-size-xm);
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--primary-color);
            a {
                color: var(--primary-color);
                font-size: var(--font-size-xxm);
                line-height: var(--font-line-xxm);
            }
        }
    }

    &__langs, &__socials {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__socials {
        a {
            display: inline-flex;
            width: 56px;   
            height: 56px;
            align-items: center;
            justify-content: center;
            img {
                max-width: 100%;
                max-height: 100%;
                filter: invert(1);
            }
        }
    }

    &__langs {
        gap: 16px;
        
        @media all and (max-width: 479px) {
            gap: 8px;
        }

        a {
            color: var(--primary-color);
            font-size: var(--font-size-l);
            font-weight: var(--font-weight-bold);
            padding: 10px 20px;
            display: inline-block;
            border: 2px solid transparent;
            transition: background-color var(--transition), color var(--transition);
            @media all and (max-width: 768px) {
                padding: 4px 16px;
            }
            &:hover, &.active {
                background: var(--blue-color);
                color: var(--white-color);
                border-image-slice: 1;
                border-width: 2px;
                border-image-source: linear-gradient(109deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.2483368347) 50%,rgba(255,255,255,.1) 100%);
            }
        }
    }
}

.page-top {
    display: flex;
    margin-top: 80px;
    margin-bottom: 20px;
}

.page-title {
    font-size: var(--font-size-large);
    width: calc(100% - 200px);
    text-align: center;
}

.page-back-btn {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    font-weight: var(--font-weight-bold);
    display: inline-block;
    padding-left: 32px;
    position: relative;
    display: flex;
    align-items: center;
    &:before {
        @include pseudo();
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.25014 11.9999L10.3108 3.93923L11.3715 4.99989L5.12144 11.2499L22.0608 11.2499L22.0608 12.7499L5.12147 12.7499L11.3715 18.9999L10.3108 20.0605L2.25014 11.9999Z' fill='%23EDEDED'/%3E%3C/svg%3E%0A");
        transition: var(--transition) var(--transition-type-cubic);
    }   

    &:hover:before {
        transform: translate(-5px, -50%);
    }
}

.container {
    max-width: var(--container-width);
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    @media all and (max-width: 1620px) {
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
    }

    @media all and (max-width: 1024px) {
        padding-left: var(--container-padding-mobile);
        padding-right: var(--container-padding-mobile);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main), sans-serif;
    background-color: var(--primary-color);
    font-size: var(--font-size-xm);
    color: var(--secondary-color);
}

ol, ul {
    list-style: none;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

.title-sm {
    font-size: var(--font-size-medium);
    line-height: 24px;;
    font-weight: var(--font-weight-bold);

    @media all and (max-width: 1366px) {
        font-size: var(--font-size-xl);
        line-height: 22px;
    }
}

.title-lg {
    font-size: var(--font-size-large);
    line-height: var(--font-line-large);
    font-weight: var(--font-weight-medium);
    margin-bottom: 6px;

    @media all and (max-width: 639px) {
        font-size: 36px;
        line-height: 36px;
    }
}

.subtitle-lg {
    font-size: var(--font-size-l);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-regular);
    color: rgba(#EDEDED, .6);

    @media all and (max-width: 1366px) {
        font-size: var(--font-size-xm);
    }
}

.primary-btn {
    border: 0;
    box-shadow: none;
    outline: none;
    color: var(--secondary-color);
    background-color: var(--blue-color);
    border-radius: var(--radius-m);
    min-height: var(--field-height);
    padding: 0 42px 0 12px;
    font-size: var(--font-size-m);
    transition: background-color var(--transition);
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    &:before, &:after {
        @include pseudo();
    }
    &:after {
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        width: var(--icons-default-size);
        height: var(--icons-default-size);
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1887_3551)'%3E%3Cpath d='M15.9663 4.16316L15.9663 13.6627L14.7163 13.6627L14.7163 6.29703L4.73469 16.2786L3.85081 15.3948L13.8324 5.41317L6.46672 5.41317L6.46672 4.16316L15.9663 4.16316Z' fill='%23EDEDED'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1887_3551'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: contain;
        background-position:center;
        background-repeat: no-repeat;
    }

    &:hover {
        background-color: var(--blue-color-hover);
    }

    &:active {
        background-color: var(--blue-color-active);
    }

}


// ====================== shared_styles
// ====================== shared_styles
// ====================== shared_styles
// ====================== shared_styles

// ====================== site form 


.site-form {
    font-family: var(--font-secondary);
    column-gap: 16px;
    row-gap: 16px;
    
    @media all and (max-width: 755px) {
        row-gap: 24px;
    }

    &__item {
        max-width: 298px;
        width: 100%;
        position: relative;

        @media all and (max-width: 1024px) {
            max-width: unset;
            flex-grow: 1;
            width: 100%;    
        }

        
    }
    &__item-field {
        width: 100%;
        position: relative;
        background-color: var(--dark-color);
        border-radius: var(--radius-m);
        overflow: hidden;
        &:before {
            @include pseudo();
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($white-color, .03);
            transition: var(--transition);
            opacity: 0;
            pointer-events: none;
        }
    
        &:hover:before {
            opacity: 1;
        }
    }
    &__item label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        input[type="text"], input[type="email"], input[type="phone"] {
            height: 44px;
            width: 100%;
        }
        input[type="text"], input[type="email"], input[type="phone"], textarea {
            padding-left: 16px;
            padding-right: 48px;
            outline: none;
            border: 1px solid transparent;
            transition: box-shadow var(--transition);
            border-radius: var(--radius-m);
            box-shadow: none;
            background-color: transparent;
            color: var(--secondary-color);
            font-size: var(--font-size-xm);
            font-weight: var(--font-weight-regular);

            &::placeholder {
                color: rgba(#EDEDED, .5);
                font-size: var(--font-size-xm);
                font-weight: var(--font-weight-regular);
            }

            &:focus, &:active {
                box-shadow: inset 0 0 0 1px var(--secondary-color);
            }
        }
    }
    .form-field-title, .form-error-msg {
        display: inline-block;
    }
    .form-field-title {
        font-size: var(--font-size-m);
        line-height: var(--font-line-m);
        margin-bottom: 3px;
        color: rgba($secondary-color, .5);
    }
    .form-error-msg {
        color: var(--error-color);
        font-size: 12px;
        line-height: 18px;
        font-weight: var(--font-weight-regular);
        margin-top: 4px;
    }

    .form-input-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        svg {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

// ====================== site form 



.header {
    $self: &;
    position: relative;
    &::before {
        @include pseudo();
        left: 0;
        right: 0;
        background: var(--secondary-color);
        top: 0;
        bottom: 0;
        transition: var(--transition-fast);
        transform: translateY(-100%);
    }
    border-bottom: 1px solid rgba(#fff, .2);
    .container {
        display: flex;
        align-items: center;
        min-height: var(--header-height);
    }

    &__logo {
        max-width: 192px;
        @media all and (max-width: 1024px) {
            max-width: 176px;
        }

        @media all and (max-width: 480px) {
            max-width: 152px;
        }
        a, img {
            max-width: 100%;
            max-height: 100%;
        }
        a {
            text-decoration: none;
            display: block;
        }
    }

    &__middle {
        width: calc(100% - 42%);
        @media all and (max-width: 1024px) {
            display: none;
        }
    }

    // ====================== header_navigation

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 40px;

        & > li > a {
            transition: var(--transition);
            position: relative;

            &:before {
                @include pseudo();
                top: 100%;
                left: 50%;
                transition: var(--transition);
                transform: translateX(-50%);
                width: 0;
                height: 1px;
                background-color: var(--secondary-color);
            }

            &:hover {
                &:before {
                    width: 80%;
                }
            }
        }

        li a {
            text-transform: uppercase;
        }
    }

    // ====================== header_navigation

    &__left, &__right {
        @media all and  (min-width: 1025px) {
            width: 21%;
        }
    }

    &__right {
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        min-height: inherit;
        position: absolute;
        top: 0;
        right: 0;


        @media all and (max-width: 1024px) {
            width: auto;
        }
    }

    // ====================== langs


    &__burger {
        display: flex;
        @media all and (min-width: 1025px) {
            display: none;
        }
    }

    &__langs {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        z-index: 5;
        @media all and (max-width: 1620px) {
            max-width: 137px;
            width: 100%;
        }
        @media all and (min-width: 1367px) {
            max-width: 337px;
            width: 100%;
        }
    }

    &__langs-dropdown {
        position: absolute;
        top: 100%;
        left: -1px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-color);
        opacity: 0;
        pointer-events: none;
        transition: var(--transition-fast) cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transform: translateY(5px) scale(0.99);
        border: 1px solid var(--border-bottom-color);
        border-top: 0;

        a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 23px;
            text-align: center;
            color: var(--secondary-color);
            transition: background-color var(--transition), color var(--transition);
            
            @media all and (max-width: 768px) {
                padding: 10px;
            }

            &:hover {
                color: var(--secondary-color);
                background-color: var(--primary-color);
            }

            &:after {
                content: "";
                display: block;
                margin-left: 5px;
                min-width: 20px;
                height: 20px;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.8225 6.02073L7.98368 14.8596L3.17853 10.0544L4.06241 9.17053L7.98368 13.0918L15.9386 5.13684L16.8225 6.02073Z' fill='%23EDEDED'/%3E%3C/svg%3E%0A");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                display: none;   
            }

            &.active {
                display: flex;
                align-items: center;
                justify-content: center;
                &:after {
                    display: block;
                }
            }
        }
    }

    &__langs-default {
        color: var(--secondary-color);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            position: relative;
            pointer-events: none;

            &:before {
                @include pseudo();
                top: 50%;
                left: calc(100% + 6px);
                transform: translateY(-50%);
                background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 5.5L0 0.5H9L4.5 5.5Z' fill='white'/%3E%3C/svg%3E%0A");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 9px;
                height: 5px;
                transition: var(--transition-fast);
            }
        }
    }

    &__burger {
        align-items: center;
        justify-content: center;
        span, span:before, span:after {
            width: 28.8px;
            height: 3.2px;
            background-color: var(--white-color);
            display: inline-block;
        }
        span {
            pointer-events: none;
            position: relative;
            transition: background-color (--transition);
            &:before, &:after {
                @include pseudo();
                transition: transform var(--transition);
            }

            &:before {
                top: 0;
                transform: translateY(-8px);
            }

            &:after {
                bottom: 0;
                transform: translateY(8px);
            }
        }
    }

    &.active {
        border-color: transparent;
        #{$self}__burger {
            border-left: 0;
            span {
                background-color: transparent;
                &:before {
                    top: 50%;
                    background-color: var(--primary-color);
                    transform: translateY(-50%) rotate(45deg);
                }

                &:after {
                    bottom: 50%;
                    background-color: var(--primary-color);
                    transform: translateY(50%) rotate(-45deg);
                }
            }
        }

        #{$self}__langs {display: none;}

        #{$self}__logo img {
            filter: invert(1);
        }

        &::before {
            transition: var(--transition);
            transform: translateY(0);
        }
    }

    &__langs, &__burger {
        border-left: 1px solid rgba($white-color, .2);
        @media all and (max-width: 1024px) {
            width: 76px;
        }

        @media all and (max-width: 480px) {
            width: 68px;
        }
    }


    // ====================== langs


    // ====================== burger
}
.lang-switcher-js {
    $self: &;
    &__active {
        transition: var(--transition);
    }
    &.opened {
        span:before {
            transform: translateY(-50%) rotate(180deg);
        }

        #{$self}__dropdown {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);       
        }

        #{$self}__active {
            background-color: var(--dark-color);
        }
    }
}





// ====================== Banner


.banner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: calc(100vh - var(--header-height));
    column-gap: 3%;

    @media all and (max-width: 768px) {
        position: relative;
        padding-top: 50px;
    }

    &.container {
        padding-bottom: 40px;

        @media all and (max-width: 480px) {
            padding-bottom: 30px;
            padding-top: 30px;
        }
    }

    &__title {
        font-size: var(--font-size-big);
        line-height: var(--font-line-big);
        font-weight: var(--font-weight-bold);
        margin-bottom: 10px;

        @media all and (max-width: 1366px) {
            font-size: var(--font-size-60);
            line-height: var(--font-line-60);
        }

        @media all and (max-width: 1024px) {
            font-size: 50px;
            line-height: 50px;
        }

        @media all and (max-width: 480px) {
            font-size: 45px;
            line-height: 50px;
        }
    }

    &__subtitle {
        font-size: var(--font-size-xxm);
        line-height: var(--font-line-xxm);
        font-family: var(--font-secondary);
        color: rgba($secondary-color, .8);

        @media all and (max-width: 1366px) {
            font-size: var(--font-size-l);
            line-height: var(--font-line-l);
        }
    }

    &__tags {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    &__tags-item {
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-xm);
        padding: 10px 20px;
        background-color: var(--dark-color);
        border-radius: var(--radius-m);
        position: relative;
        display: inline-block;
        overflow: hidden;

        @media all and (max-width: 1366px) {
            font-size: var(--font-size-m);
            line-height: var(--font-line-m);
        }

        @media all and (max-width: 768px) {
            padding: 8px 12px;
        }

        &:before {
            @include pseudo();
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            transition: var(--transition);
            opacity: 0;
            background-color: rgba($white-color, .1);
        }
        &:hover {
            &:before {
                opacity: 1;
            }
        }
    }
    
    &__left {
        flex: 1;

        @media all and (max-width: 768px) and (min-width: 651px){
            max-width: 450px;
            flex: unset;
            width: 100%;
        }
    }

    &__right {
        max-width: 628px;
        width: 100%;
        
        img {
            max-width: 100%;
            max-height: 100%;
        }

        @media all and (max-width: 1366px) {
            max-width: 520px;
        }

        @media all and (max-width: 1024px) {
            max-width: 448px;
        }

        @media all and (max-width: 768px) {
            position: absolute;
            top: 30px;
            right: 0;
            z-index: -1;
            max-width: 366px;
        }

        @media all and (max-width: 650px) {
            display: none;
        }
    }

    &__numbers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 100%;
        
        @media all and (max-width: 768px) {
            margin-top: 30px;
        }

        @media all and (max-width: 480px) {
            grid-template-columns: 1fr;
        }
    }

    &__numbers-item {
        border-right: 1px solid var(--border-bottom-color);
        padding: 31.5px 36px;

        @media all and (max-width: 480px) {
            padding: 34px 0;
            border-right: 0;
            border-bottom: 1px solid var(--border-bottom-color);

            &:last-child {
                border-bottom: 0;
            }
        }

        &:last-child {
            border-right: 0;
            padding-right: 0;
        }

        &:first-child {
            padding-left: 0;
        }
    }

    &__numbers-item-title {
        font-size: var(--font-size-big);
        line-height: var(--font-line-big);
        font-weight: var(--font-weight-bold);

        @media all and (max-width: 1366px) {
            font-size: var(--font-size-60);
            line-height: var(--font-line-60);
            font-weight: var(--font-weight-medium);
        }

        @media all and (max-width: 768px) {
            font-size:  50px;
            line-height: 50px;
        }
    }

    &__numbers-item-subtitle {
        font-size: var(--font-size-xxm);
        line-height: var(--font-line-xxm);
        color: rgba($secondary-color, .5);
        font-weight: var(--font-weight-regular);
        font-family: var(--font-secondary);

        @media all and (max-width: 1366px) {
            font-size: var(--font-size-xm);
            line-height: var(--font-line-xm);
        }
    }
}



// ====================== Banner











// ====================== Abilities



.abilities {
    padding-top: 40px;
    padding-bottom: 80px;

    @media all and (max-width: 1366px) {
        padding-bottom: 40px;
    }

    @media all and (max-width: 768px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    &__columns {
        margin-top: 39px;
        display: grid;
        grid-template-columns: repeat(2,1fr);

        @media all and (max-width: 639px) {
            grid-template-columns: 1fr;
            margin-top: 32px;
        }
    }


    &__col {
        padding: 0 50px;
        

        @media all and (max-width: 1024px) {
            padding: 0 40px;
        }

        @media all and (max-width: 768px) {
            &:first-child {
                padding-left: 0;
            }

            &:nth-child(2) {
                padding-right: 0;
            }
        }

        @media all and (max-width: 639px) {
            padding: 32px 0 0 0;
            &:first-child {
                padding-top: 0;
            }
        }
    }


    &__left-col {
        position: relative;
        &:before {
            @include pseudo();
            top: 50%;
            right: -0.5px;
            height: 100%;
            transform: translateY(-50%);
            width: 1px;
            background-color: rgba($secondary-color, .2);
        }

        @media all and (max-width: 639px) {
            &:before {display: none;}
            padding-bottom: 68px;
            border-bottom: 1px solid rgba($secondary-color, .2);
        }
    }

    &__col-title {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        @media all and (max-width: 1366px) {
            margin-bottom: 12px;
        }

        svg {
            max-width: 52px;
            max-height: 52px;
            margin-left: 16px;
        }
    }

    &__col-text {
        font-family: var(--font-secondary);
        line-height: 31.05px;   
    }

    &__marquee {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        margin-top: 80px;

        @media all and (max-width: 1024px) {
            margin-top: 96px;
        }
    }

    &__marquee-line {
        max-width: 100%;
        width: 100%;
        overflow: hidden;
        div {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            column-gap: 30px;
        }

        margin-bottom: 30px;
        &:last-child {margin-bottom: 0;}
    }


    &__marquee-item {
        font-size: var(--font-size-xl);
        line-height: var(--font-line-xl);
        padding: 20px 74px 20px 24px;
        background-color: var(--dark-color);
        border-radius: var(--radius-m);
        display: flex;
        align-items: center;
        position: relative;

        @media all and (max-width: 1366px) {
            font-size: var(--font-size-l);
            line-height: var(--font-line-l);
        }
        .icon {
            position: absolute;
            max-width: 50px;
            max-height: 50px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            top: 50%;
            right: 24px;
            transform: translateY(-50%);
            filter: grayscale(1);
            transition: var(--transition);
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        &:hover .icon {
            filter: grayscale(0);
        }
    }
}




// ====================== Abilities




// ====================== footer form
.footer {
    margin-top: auto;
    &__callback {
        border-bottom: 1px solid var(--border-bottom-color);

        .container {
            padding-top: 40px;
            padding-bottom: 59px;

            @media all and (max-width: 755px) {
                padding-top: 28px;
            }
        }
    }

    &__callback-header {
        text-align: center;
        margin-bottom: 36px;
    }

    &__callback-form {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        form {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;

            @media all and (max-width: 755px) {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__callback-form-submit {
        @media all and (min-width: 755px) {
            margin-top: calc(var(--font-line-m) + 3px);    
        }
    }

    &__contacts {
        border-bottom: 1px solid var(--border-bottom-color);

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media all and (max-width: 768px) {
                flex-direction: column;
            }

            @media all and (max-width: 755px) {
                padding-bottom: 100px;
            }
        }
        position: relative;
    }

    &__contacts-left {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 13px 0;
        width: calc(100% - 340px);

        @media all and (max-width: 1024px) {
            width: calc(100% - 340px);
        }

        @media all and (max-width: 768px) {
            width: 100%;
            justify-content: space-between;
            padding-bottom: 30px;
        }
        
        @media all and (max-width: 755px) {
            flex-direction: column;
            row-gap: 30px;
        }
        
    }

    &__contacts-right {
        display: flex;
        align-items: stretch;
        min-height: 100px;
        
        @media all and (min-width: 769px) {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;    
        }

        @media all and (max-width: 768px) {
            border-top: 1px solid rgba($secondary-color, .2);
        }

        @media all and (max-width: 755px) {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        & > div {
            border-left: 1px solid var(--border-bottom-color);
        }
    }

    &__contacts-item {
        margin-right: 60px;

        @media all and (max-width: 1024px) {
            margin-right: 30px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__contacts-item-title {
        display: flex;
        align-items: center;
        font-size: var(--font-size-m);
        line-height: var(--font-line-m);
        color: rgba($secondary-color, .8);
        margin-bottom: 8px;

        svg {
            max-width: 22px;
            max-height: 22px;
            margin-left: 5px;
        }
    }

    &__contacts-item-body {
        font-size: var(--font-size-l);
        line-height: var(--font-line-l);

        @media all and (max-width: 1024px) {
            font-size: var(--font-size-xm);
            line-height: var(--font-line-xm);
        }
    }

    &__contacts-social {
        padding: 20px;
        min-width: 212px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 36px;
        flex-wrap: wrap;
        @media all and (max-width: 1024px) and (min-width: 769px) {
            min-width: 152px;
            column-gap: 24px;
        }

        @media all and (max-width: 755px) {
            min-width: unset;
            flex-grow: 1;
        }
        
        a {
            display: inline-flex;   
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            transition: transform var(--transition) var(--transition-type-cubic);
            &:hover {
                transform: translateY(-5px);
            }
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    &__up-btn {
        min-width: 128px;
        border-right: 1px solid var(--border-bottom-color);
        display: flex;  
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @media all and (max-width: 1024px) and (min-width: 769px) {
            min-width: 68px;
        }
        svg {
            width: 28px;
            height: 28px;
        }
    }


    &__copyright {
        color: rgba($secondary-color, .6);
    }
}

// ====================== footer form
























// ====================== Team 





.team {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    $self: &;

    .container {
        padding-bottom: 80px;
        padding-top: 80px;

        @media all and (max-width: 768px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @media all and (max-width: 480px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    &__title {
        margin-bottom: 79px;

        @media all and (max-width: 769px) {
            margin-bottom: 57px;
        }
    }

    &__top {
        margin-bottom: 12px;
        position: relative;
        padding-top: 112.9%;
        background-color: var(--skeleton-color);
        transform-style: preserve-3d;
        transition: transform var(--transition-slow) var(--transition-type-cubic);
        & > div {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    
    &__top-front, &__top-back {
        backface-visibility: hidden;
        
    }

    &__top-front {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__top-back {
        background-color: var(--light-gray);
        transform: rotateY(-180deg);
        padding: 24px;
        font-size: var(--font-size-l);
        line-height: var(--font-line-l);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media all and (max-width: 1366px) {
            font-size: var(--font-size-xm);
            line-height: var(--font-line-xm);
        }
    }

    &__list-wr {
        margin-left: -10px;
        margin-right: -10px;
    }

    // &__list {
    //     @media all and (max-width: 769px) {
    //         display: grid;
    //         grid-template-columns: repeat(2, 1fr);
    //     }
    // }

    &__item {
        font-family: var(--font-secondary);
        perspective: 1000px;
        padding-left: 10px;
        padding-right: 10px;


        &.active {
            #{$self}__top {
                transform: rotateY(180deg);
            }
        }
        margin-bottom: 41px;

        @media all and (min-width: 1025px) {
            width: var(--column-width-xl);
        
            &:nth-child(2) {
                margin-top: 50px;
            }

            &:nth-child(3) {
                margin-top: -40px;
            }

            &:nth-child(4) {
                margin-top: 27px;
            }
        } 

        @media all and (max-width: 1024px) and (min-width: 769px) {
            width: var(--column-width-l);
        
            &:nth-child(2) {
                margin-top: 50px;
            }

            &:nth-child(3) {
                margin-top: -40px;
            }
        }

        @media all and (max-width: 768px) {
            width: var(--column-width-xm);
            margin-bottom: 28px;
            &:first-child {
                margin-top: -30px;
            }

            &:nth-child(2n) {
                margin-top: 0;
            }
        }

        @media all and (max-width: 480px) {
            width: 100%;
        }
    } 

    &__name {
        font-size: var(--font-size-xl);
        line-height: var(--font-line-xl);
        font-family: var(--font-main);
        font-weight: var(--font-weight-bold);
        margin-bottom: 4px;

        @media all and (max-width: 1366px) {
            font-size: var(--font-size-l);
            line-height: var(--font-line-l);
        }
    }

    &__position {
        font-size: var(--font-size-xm);
        line-height: var(--font-line-xm);
        font-weight: var(--font-weight-regular);
        color: rgba($primary-color, .8);
        
        @media all and (max-width: 1366px) {
            font-size: var(--font-size-m);
            line-height: var(--font-line-m);
        }
    }

    &__btn {
        text-align: center;
    }
}










// ====================== Team 











// ====================== Projects





.projects {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    .container {
        padding-top: 80px;
        padding-bottom: 126px;

        @media all and (max-width: 768px) {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        @media all and (max-width: 639px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    &__head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px 20px;
        margin-bottom: 40px;

        @media all and (max-width: 639px) {
            flex-direction: column;
            margin-bottom: 17px;
        }
    }

    &__row {
        display: flex;
        align-items: flex-start;
        column-gap: 20px;
        row-gap: 37px;
        width: 100%;
        margin-bottom: 42px;

        @media all and (max-width: 639px) {
            flex-direction: column;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item {
        flex-grow: 1;

        @media all and (max-width: 639px) {
            width: 100%;
        }
    }

    &__text {
        font-size: 26px;
        line-height: 41.6px;
        font-family: var(--font-secondary);

        @media all and (max-width: 1366px) {
            font-size: var(--font-size-xl);
            line-height: var(--font-line-xl);
        }

        @media all and (max-width: 768px) {
            font-size: var(--font-size-l);
            line-height: var(--font-line-l);
            max-width: 426px;
        }
    }

    &__item-pic {
        overflow: hidden;
        border-radius: var(--radius-m);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media all and (max-width: 639px) {
            position: relative;
            padding-top: 75%;
            margin-bottom: 12px;
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }

    &__item-title {
        font-size: var(--font-size-large);
        line-height: var(--font-line-large);   
        font-weight: var(--font-weight-medium);
        margin-bottom: 4px;

        @media all and (max-width: 1024px) {
            font-size: var(--font-size-medium);   
            line-height: var(--font-line-medium);
        }


        @media all and (max-width: 767px) and (min-width: 640px) {
            font-size: var(--font-size-l);   
            line-height: var(--font-line-l);
        }

    }

    &__item-subtitle {
        font-size: var(--font-size-xm);
        line-height: var(--font-line-xm);
        font-family: var(--font-secondary);

        @media all and (max-width: 1024px) {
            font-size: var(--font-size-m);   
            line-height: var(--font-line-m);
        }

        @media all and (max-width: 767px) and (min-width: 640px) {
            font-size: var(--font-size-s);   
            line-height: var(--font-line-s);
        }
    }

    &__btn {
        text-align: center;
        margin-top: 43px;
    }
}









// ====================== Projects







// Animation

.animation-container {
    overflow: hidden;
    min-height: 100vh;
    &__plane {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      min-height: inherit;
    }
    &__videos {
      max-width: 720px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
    }
    video {
      position: absolute;
      top: calc(100vh / 2);
      transform: translateY(-50%);
      left: 0;
      right: 0;
      width: 100%;
      height: 720px;
      object-fit: contain;
      opacity: .9;
      &:first-child, &:last-child {
        object-fit: cover;
      }
  
      display: none;
  
      &:first-child {
        display: block;
      }
  
      &.hide {
        display: none;
      }
  
      &.show {
        display: block;
      }
    }
  
    &__text {
      width: 100%;
      height: 100%;
    }
  
    &__text-in {
      position: relative;
      width: 50%;
      height: 100%;
      margin-left: auto;
    }
  
    &.in-view {
  
    }
  }
  
  .text-section {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  
    &__in {
      max-width: 523px;
    }
  
    &:first-child, &.active {
      height: auto;
    }
  
    &__title {
      font-size: var(--font-size-large);
      line-height: var(--font-line-large);
      font-weight: var(--font-weight-medium);
      margin-bottom: 12px;
    }
  
    &__subtitle {
      font-size: var(--font-size-xm);
      line-height: var(--font-line-xm);
      color: rgba($secondary-color, .6);
      font-weight: var(--font-weight-regular);
    }
  
    &__body {
    }
  
    &__desc, &__list li {
      font-size: var(--font-size-xm);
      line-height: var(--font-line-xm);
      font-weight: var(--font-weight-regular);
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    &__desc {
      font-size: var(--font-size-xm);
      line-height: var(--font-line-xm);
      color: rgba($secondary-color, .6);
      font-weight: var(--font-weight-regular);
    }
  
    &__list {
      margin-top: 40px;
      li {
        position: relative;
        padding-left: 48px;
        font-family: var(--font-default);
        transform: translateX(100px);
  
        span {
          display: block;
          font-size: var(--font-size-xl);
          line-height: 28px;
          font-weight: var(--font-weight-black);
        }
        &:before {
          @include pseudo();
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 29px;
          height: 24.23px;
          background-image: url("data:image/svg+xml,%3Csvg width='29' height='25' viewBox='0 0 29 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 14.6125L2.88203 11.7228H6.79049L9.73535 14.6755L24.3729 0L29 4.63948L9.46398 24.2278L0 14.6125Z' fill='white'/%3E%3C/svg%3E%0A");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  
    &__btn {
      margin-top: 24px;
      padding-left: 48px;
    }
  }


  .anim {
    .projects,  .abilities, .team, .footer {
      display: none;
    }
  }










// Animation